<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @location, html: {class: "form-horizontal"} do |f| %>
    <div class="form-group">
      <%= f.label :location_place, class: "control-label col-sm-4" %>
      <%= f.text_field :location_place, class: "col-sm-8"  %>
    </div>

    <div class="form-group">
      <%= f.label :city, class: "control-label col-sm-4" %>
      <%= f.text_field :city, class: "col-sm-8"  %>
    </div>

    <div class="form-group">
      <%= f.label :location_register, class: "control-label col-sm-4" %>
      <%= f.text_field :location_register, class: "col-sm-8"  %>
    </div>

    <div class="form-group">
      <%= f.label :location_address, class: "control-label col-sm-4" %>
      <%= f.text_field :location_address, class: "col-sm-8"  %>
    </div>

    <div class="form-group">
      <%= f.label :longitude, class: "control-label col-sm-4" %>
      <%= f.text_field :longitude, class: "col-sm-8"  %>
    </div>

    <div class="form-group">
      <%= f.label :latitude, class: "control-label col-sm-4" %>
      <%= f.text_field :latitude, class: "col-sm-8"  %>
    </div>
    
    <div class="center">
      <%= f.submit "Add Location", class: 'btn btn-primary' %>
    </div>
    <% end %>
  </div>
</div>