<div class="element_from_list">
    <div class="element_details">
        <div class="row">
            <div class="left">Location place</div>
            <div class="right"><%= @location.location_place %></div>
        </div>
        <div class="row">
            <div class="left">City</div>
            <div class="right"><%= @location.city %></div>
        </div> 
        <div class="row">
            <div class="left">Location Address</div>
            <div class="right"><%= @location.location_address %></div>
        </div>                         
    </div>
    <div class="options">
        <div><%= link_to 'Delete Route', location_path(@location), method: 'delete', class: 'btn btn-default del' %></div>
        <div><%= link_to 'Edit Route', edit_location_path(@location), class: 'btn btn-default upd' %></div>
    </div>
</div>